<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
  <strong>Meeting day:</strong>
  <%= @group.meeting_day %>
</p>
<p>
  <strong>Meeting time:</strong>
  <%= @group.meeting_time.strftime("%I:%M %p") %>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
<h2><strong>Member List</strong></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
  <% @group.members_sorted_by_name.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.memberships.first.role %></td>
      <td><%= member.phone %></td>
      <td><%= member.email %></td>
      <td><%= member.address %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>

<p><%= link_to 'New Member', new_member_path %></p>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
